// main: ../style.less

.offer{
    &-wrapper{
        background-image: url('@{src-img}offer.png');
        min-height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 119px;
        padding-left: 15px;
        padding-right: 15px;

        @media screen and (max-width: 768px) {
            padding-top: 0px;
           } 
    }
    &__inner{
        max-width: 940px;
        margin: auto;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            min-height: 600px;
        } 
    }
    &__title{
        max-width: 486px;
        font-size: 36px;
        font-weight: bold;
        padding-bottom: 40px;
    }
    &__subtitle{
        max-width: 520px;
        font-size: 14px;
        line-height: 1.714;
        color: rgb(25, 25, 25);
        padding-bottom: 69px;
        font-family: "Myriad Pro";
    }
    &__more{
        padding-left: 55px;
        background: url('@{src-img}shape.png') no-repeat  left;

    
        &-link{
            background-color: @border_blue;
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            padding: 20px 30px;
            border-radius: 0px 5px 5px 0px;
            font-size: 12px;
            font-weight: bold;
        }
    }
}