// main: ../style.less

.texts__inner{
    margin: 90px 0px;
    @media (max-width: 768px) {
        margin-top: 30px; 
        margin-bottom: 30px;
       } 
}

.texts__content{
    padding: 53px 73px 61px 66px;
    background-color: white;
    box-shadow: 0px 24px 57px 0px rgba(12, 20, 26, 0.14);
    border-radius: 5px;

    &-title{
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 20px;
        font-size: 30px;
    }
    
    &-desc{
        font-size: 16px;
        line-height: 1.5;
        font-family: 'Myriad Pro';
    }
}

