<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Техспецстрой</title>
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css">
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
</head>
<body>
	<header class="header">
		<div class="wrapper">
			<div class="header-wrapper">
				<nav class="header__nav">
					<img src="../assets/images/icon-menu.svg" class="header__menu-pic">
					<div class="header__first-nav">
						<ul class="header__nav-list">
							<li>О компании</li>
							<li class="header__nav-list-services with_drop_down">Услуги 
								<div class="header__second-nav">
									<ul class="header__nav-list-sec">
										<li>Проектирование</li>
										<li>Строительство</li>
										<li>Горизонатльно направленное бурение</li>
									</ul>
								</div>
							</li>
							<li>Наши работы</li>
							<li>Контакты</li>
							<li>Разрешительные документы</li>
						</ul>
					</div>
				</nav>
				<div class="header__logo">
					<img src="../assets/images/logo.png" class="header__logo-pic">
				</div>
				<div class="header__input">
					<a href="#">Заказать звонок</a>
				</div>
				<div class="header__contact">
					<div><div class="header__contact-link"><a href="" >tss.inc@yandex.ru</a></div></div>
					<span><span>+7 (4212)</span><span class="header__contact-link_bold"> 60-15-28</span></span>
					<span class="header__contact-link_bold">46-78-02</span>
				</div>
			</div>
		</div>
	</header>
	<main>
		<section class="offer">
			<div class="offer-wrapper">
				<h1 class="offer__title">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING.</h1>
				<p class="offer__subtitle"> Lorern ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusrnod tempor
					inc didunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo vevirra maecenas accumsan lacus vel facilisis.
				</p>
				<div class="offer__more"><a class="offer__more-link" href="#">Подробнее</a></div>
			</div>
		</section>
		<section class="services">
			<div class="wrapper">
				<div class="services__title select_title">
					<h2>Услуги</h2>
				</div>
				<div class="services__cards">
					<div class="services__card">
						<div class="services__card-pic">
							<img src="../assets/images/card1.png" alt="Проектирование">
						</div>
						<div  class="services__card-desc">
							<img src="../assets/images/btn.svg" alt="" class="services__card-desc-icon">
							<span class="services__card-desc-title">Проектирование</span>
						</div>
					</div>
					<div class="services__card">
						<div class="services__card-pic">
							<img src="../assets/images/card2.png" alt="Строительство">
						</div>
						<div  class="services__card-desc">
							<img src="../assets/images/btn.svg" alt="" class="services__card-desc-icon">
							<span class="services__card-desc-title">Строительство</span>
						</div>
					</div>
					<div class="services__card">
						<div class="services__card-pic">
							<img src="../assets/images/card3.png" alt="ГНБ (Горизонтально направленное бурение)">
						</div>
						<div  class="services__card-desc">
							<img src="../assets/images/btn.svg" alt="" class="services__card-desc-icon">
							<span class="services__card-desc-title">ГНБ (Горизонтально направленное бурение)</span>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="advantages">
			<div class="wrapper">
				<div class="advantages__title select_title">
					<h2>Преимущества</h2>
				</div>
				<div class="swiper mySwiper">
					<div class="swiper__nav">
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>	
					<div class="swiper-wrapper">
					  <div class="swiper-slide">
						  <div class="swiper-slide__card">
							<div class="swiper-slide__card-content">
								<img src="../assets/images/adv1.png" alt="" class="swiper-slide__card-content-pic">
								<p class="swiper-slide__card-content-title">Стабильность <br> компании</p>
							</div>
						  </div>
					  </div>
					  <div class="swiper-slide">
						<div class="swiper-slide__card">
						  <div class="swiper-slide__card-content">
							  <img src="../assets/images/adv3.png" alt="" class="swiper-slide__card-content-pic">
							  <p class="swiper-slide__card-content-title">Партнерские <br> отношения с крупными <br> производителями</p>
						  </div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="swiper-slide__card">
						  <div class="swiper-slide__card-content">
							  <img src="../assets/images/adv2.png" alt="" class="swiper-slide__card-content-pic">
							  <p class="swiper-slide__card-content-title">Большой опыт <br> работы</p>
						  </div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="swiper-slide__card">
						  <div class="swiper-slide__card-content">
							  <img src="../assets/images/adv1.png" alt="" class="swiper-slide__card-content-pic">
							  <p class="swiper-slide__card-content-title">Низкие цены</p>
						  </div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</section>

		<section class="works">
			<div class="wrapper">
				<div class="works__title select_title">
					<h2>Выполненные работы</h2>
				</div>
				<div class="swiper mySwiper2">
					<div class="swiper__nav">
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>	
					<div class="swiper-wrapper">
					  <div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/work1.jpg" alt="" class="works__card-pic">
							<p class="works__card-title">Стабильность <br> компании</p>
						</div>
					  </div>
					  <div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/work2.jpg" alt="" class="works__card-pic">
							<p class="works__card-title">Стабильность <br> компании</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/work3.jpg" alt="" class="works__card-pic">
							<p class="works__card-title">Стабильность <br> компании</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/work4.jpg" alt="" class="works__card-pic">
							<p class="works__card-title">Стабильность <br> компании</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/work1.jpg" alt="" class="works__card-pic">
							<p class="works__card-title">Стабильность <br> компании</p>
						</div>
					</div>
					</div>
				</div>
			</div>
		</section>

		<section class="documents">
			<div class="wrapper">
				<div class="documents__title select_title">
					<h2>Свидетельства о допуске</h2>
				</div>
				<div class="swiper mySwiper3">
					<div class="swiper__nav">
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>	
					<div class="swiper-wrapper">
					  <div class="swiper-slide">
						<div class="documents__card">
							<img src="../assets/images/doc1.jpg" alt="" class="documents__card-pic" data-fancybox data-width="640"
							data-height="480">
						</div>
					  </div>
					  <div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="" class="documents__card-pic" data-fancybox> 
						</div>
					</div>
					</div>
					<div class="documents__more"><a href="#">Подробнее</a></div>
				</div>
			</div>
		</section>

		<section class="texts">
			<div class="wrapper">
				<div class="texts-wrapper">
					<div class="texts-wrapper__content">
						<h2  class="texts-wrapper__content-title">CEO Тексты</h2>
						<p  class="texts-wrapper__content-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
							et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
							 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
				</div>
			</div>	
		</section>

		<footer class="footer">
			<div class="footer_backgroung_color">
			<div class="wrapper">
				<div class="footer__contacts">
					<div class="footer__contacts-nav">
						<span class="footer__contacts-name">ТЕХСПЕЦСТРОЙ</span>
						<ul class="footer__contacts-list">
							<li>О компании</li>
							<li>Услуги</li>
							<li>Наши работы</li>
							<li>Контакты</li>
							<li>Разрешительные документы</li>
						</ul>
					</div>
					<div class="footer__contacts-contact">
						<div class="footer__contact-link"><a href="" >tss.inc@yandex.ru</a></div>
						<span class="footer__contact-phone"><span>+7 (4212)</span><span class="footer__contact-link_bold"> 60-15-28, 46-78-02 </span></span>
						<div class="footer__contact-icon">
							<img href="../assets/images/work1.jpg" alt="sdfsdf">
							<img href="../assets/images/face.png" alt="sfsfd">
							<img href="../assets/images/insta.png" alt="sdfsdf">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper">
				<div class="footer__copyright">

				</div>
			</div>
			</div>	
		</footer>
	</main>

	<script>
		var swiper = new Swiper(".mySwiper", {
		  navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		  },
		  breakpoints: {
          320: {
            slidesPerView: 1,
            spaceBetween: 10,
          },
          768: {
            slidesPerView: 4,
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
        },
		});
	</script>

	<script>
		var swiper = new Swiper(".mySwiper2", {
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		breakpoints: {
		320: {
			slidesPerView: 1,
			spaceBetween: 10,
		},
		768: {
			slidesPerView: 4,
			spaceBetween: 40,
		},
		1024: {
			slidesPerView: 4,
			spaceBetween: 30,
		},
		},
		});
	</script>

	<script>
		var swiper = new Swiper(".mySwiper3", {
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		breakpoints: {
		320: {
			slidesPerView: 1,
			spaceBetween: 10,
		},
		768: {
			slidesPerView: 4,
			spaceBetween: 40,
		},
		1024: {
			slidesPerView: 6,
			spaceBetween: 30,
		},
		},
		});
  	</script>
</body>
</html>