<!DOCTYPE html>
<html lang="en">
<head>
	<title>Техспецстрой</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/styles/style.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css">
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
</head>
<body id="body">
	<header class="header">
		<div class="wrapper">
			<div class="header__inner">
				<nav class="header__nav">
					<img src="../assets/images/icon-menu.svg" class="header__nav-pic" id="header__nav-pic">
					<div class="header__topmenu" id="header__topmenu">
						<ul class="header__topmenu-list">
							<li class="header__topmenu-list-item"><a href="#" class="header__nav-link"></a>О компании</a></li>
							<li class="header__topmenu-list-item header__topmenu-with-submenu"><a href="" class="header__nav-link">Услуги</a> 
								<div class="header__submenu" >
									<ul class="header__submenu-list">
										<li class="header__submenu-list-item"><a href="#" class="header__nav-link">Проектирование</a></li>
										<li class="header__submenu-list-item"><a href="#" class="header__nav-link"></a>Строительство</a></li>
										<li class="header__submenu-list-item"><a href="#" class="header__nav-link"></a>Горизонатльно направленное бурение</a></li>
									</ul>
								</div>
							</li>
							<li class="header__topmenu-list-item"><a href="#" class="header__nav-link">Наши работы</a></li>
							<li class="header__topmenu-list-item"><a href="#" class="header__nav-link">Контакты</a></li>
							<li class="header__topmenu-list-item"><a href="#" class="header__nav-link">Разрешительные документы</a></li>
						</ul>
					<div class="header__nav-close" id="header__nav-close">
						<span class="header__nav-close-line">

						</span>
						<span class="header__nav-close-line">
							
						</span>
					</div>
					</div>
				</nav>
				<div class="header__logo">
					<a href="#" class="header__logo-link">
						<img src="../assets/images/logo.png" class="header__logo-pic">
					</a>
				</div>
				<div class="header__input">
					<a href="#" class="header__input-link">Заказать звонок</a>
				</div>
				<div class="header__contact">
					<div><a href="#" class="header__contact-link">tss.inc@yandex.ru</a></div>
					<p class="header__contact-phone"><span>+7 (4212)</span><span class="header_fw_bold"> 60-15-28</span></p>
					<p class="header__contact-phone header_fw_bold">46-78-02</p>
				</div>
			</div>
		</div>
	</header>
	<main>
		<section class="offer">
			<div class="offer-wrapper">
				<div class="offer__inner">
					<h1 class="offer__title">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING.</h1>
					<p class="offer__subtitle"> Lorern ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusrnod tempor
						inc didunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo vevirra maecenas accumsan lacus vel facilisis.
					</p>
					<div class="offer__more"><a class="offer__more-link" href="#">Подробнее</a></div>
				</div>
			</div>
		</section>
		<section class="services">
			<div class="wrapper">
				<div class="select_title services__title">
					<h2>Услуги</h2>
				</div>
				<div class="services__cards">
					<div class="services__card">
						<div class="services__card-pic">
							<img src="../assets/images/card1.png" alt="Проектирование" class="services__card-image">
						</div>
						<div  class="services__card-desc">
							<img src="../assets/images/btn.svg" alt="Кнопка" class="services__card-desc-icon">
							<span class="services__card-desc-title">Проектирование</span>
						</div>
					</div>
					<div class="services__card">
						<div class="services__card-pic">
							<img src="../assets/images/card2.png" alt="Строительство" class="services__card-image">
						</div>
						<div  class="services__card-desc">
							<img src="../assets/images/btn.svg" alt="Кнопка" class="services__card-desc-icon">
							<span class="services__card-desc-title">Строительство</span>
						</div>
					</div>
					<div class="services__card">
						<div class="services__card-pic">
							<img src="../assets/images/card3.png" alt="ГНБ (Горизонтально направленное бурение)" class="services__card-image">
						</div>
						<div  class="services__card-desc">
							<img src="../assets/images/btn.svg" alt="Кнопка" class="services__card-desc-icon" >
							<span class="services__card-desc-title">ГНБ (Горизонтально направленное бурение)</span>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="advantages">
			<div class="wrapper">
				<div class="advantages__title select_title">
					<h2>Преимущества</h2>
				</div>
				<div class="swiper swiperAdvantages">
					<div class="swiper-button">
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>	
					<div class="swiper-wrapper">
					  <div class="swiper-slide">
						  <div class="advantages__card">
							<div class="advantages__card-content">
								<img src="../assets/images/adv1.png" alt="" class="advantages__card-content-pic">
								<p class="sadvantages__card-content-title">Стабильность <br> компании</p>
							</div>
						  </div>
					  </div>
					  <div class="swiper-slide">
						<div class="advantages__card">
						  <div class="advantages__card-content">
							  <img src="../assets/images/adv3.png" alt="" class="advantages__card-content-pic">
							  <p class="advantages__card-content-title">Партнерские <br> отношения с крупными <br> производителями</p>
						  </div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="advantages__card">
						  <div class="advantages__card-content">
							  <img src="../assets/images/adv2.png" alt="" class="advantages__card-content-pic">
							  <p class="advantages__card-content-title">Большой опыт <br> работы</p>
						  </div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="advantages__card">
						  <div class="advantages__card-content">
							  <img src="../assets/images/adv1.png" alt="" class="advantages__card-content-pic">
							  <p class="advantages__card-content-title">Низкие цены</p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="works">
			<div class="wrapper">
				<div class="works__title select_title">
					<h2>Выполненные работы</h2>
				</div>
				<div class="swiper swiperWorks">
					<div class="swiper-button">
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>	
					<div class="swiper-wrapper">
					  <div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/work1.jpg" alt="Стабильность компании" class="works__card-pic">
							<p class="works__card-title">Стабильность <br> компании</p>
						</div>
					  </div>
					  <div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/work2.jpg" alt="Стабильность компании" class="works__card-pic">
							<p class="works__card-title">Стабильность <br> компании</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/work3.jpg" alt="Стабильность компании" class="works__card-pic">
							<p class="works__card-title">Стабильность <br> компании</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/work4.jpg" alt="Стабильность компании" class="works__card-pic">
							<p class="works__card-title">Стабильность <br> компании</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/work1.jpg" alt="Стабильность компании" class="works__card-pic">
							<p class="works__card-title">Стабильность <br> компании</p>
						</div>
					</div>
					</div>
				</div>
			</div>
		</section>

		<section class="documents">
			<div class="wrapper">
				<div class="documents__title select_title">
					<h2>Свидетельства о допуске</h2>
				</div>
				<div class="swiper swiperDocuments">
					<div class="swiper-button">
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>	
					<div class="swiper-wrapper">
					  <div class="swiper-slide">
						<div class="documents__card">
							<img src="../assets/images/doc1.jpg" alt="Лицензия" class="documents__card-pic" data-fancybox>
						</div>
					  </div>
					  <div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="Лицензия" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="Лицензия" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="Лицензия" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="Лицензия" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="Лицензия" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="Лицензия" class="documents__card-pic" data-fancybox>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="works__card">
							<img src="../assets/images/doc1.jpg" alt="Лицензия" class="documents__card-pic" data-fancybox> 
						</div>
					</div>
					</div>
					<div class="documents__more"><a href="#" class="documents__more-link">Подробнее</a></div>
				</div>
			</div>
		</section>

		<section class="texts">
			<div class="wrapper">
				<div class="texts__inner">
					<div class="texts__content">
						<h2  class="texts__content-title">CEO Тексты</h2>
						<p  class="texts__content-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
							et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
							 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
				</div>
			</div>	
		</section>

		<footer class="footer">
			<div class="footer_backgroung_color">
				<div class="wrapper">
					<div class="footer__content">
						<div class="footer__content-nav">
							<span class="footer__content-name">ТЕХСПЕЦСТРОЙ</span>
							<ul class="footer__content-list">
								<li class="footer__content-list-item"><a href="#">О компании</a></li>
								<li class="footer__content-list-item"><a href="#" ></a>Услуги</a></li>
								<li class="footer__content-list-item"><a href="#" >Наши работы</a></li>
								<li class="footer__content-list-item"><a href="#" ></a>Контакты</a></li>
								<li class="footer__content-list-item"><a href="#" >Разрешительные документы</a></li>
							</ul>
						</div>
						<div class="footer__contacts">
							<div class="footer__contacts-email"><a href="" class="footer__contacts-email-link">tss.inc@yandex.ru</a></div>
							<span class="footer__contacts-phone"><span>+7 (4212)</span><span class="footer_fw_bold"> 60-15-28, 46-78-02 </span></span>
							<div class="footer__contacts-social">
								<img src="../assets/images/vk.png" alt="vk" class="footer__contacts-icon">
								<img src="../assets/images/face.png" alt="facebook" class="footer__contacts-icon">
								<img src="../assets/images/insta.png" alt="instagram" class="footer__contacts-icon">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper">
				<div class="footer__copyright">
					<div class="footer__copyright-desc">
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
						tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. 
						Risus commodo viverra maecenas accumsan lacus vel facilisis.</span>
					</div>
					<div class="footer__copyright-title">
						<span><a href="#" class="footer__copyright-title-link">Создание и продвижение сайта</a> – <div class="footer__copyright-name">Перфоманс</div> </span>
					</div>
				</div>
			</div>
		</footer>
	</main>

	<script>
		var swiper = new Swiper(".swiperAdvantages", {
		  navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		  },
		  breakpoints: {
          320: {
            slidesPerView: 1,
            spaceBetween: 10,
          },
		  560: {
            slidesPerView: 2,
            spaceBetween: 30,
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
        },
		});
	</script>

	<script>
		var swiper = new Swiper(".swiperWorks", {
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		breakpoints: {
		320: {
			slidesPerView: 1,
			spaceBetween: 10,
			centeredSlides:true,
		},
		560: {
            slidesPerView: 2,
            spaceBetween: 30,
          },
		768: {
			slidesPerView: 2,
			spaceBetween: 20,
		},
		1024: {
			slidesPerView: 4,
			spaceBetween: 20,
		},
		},
		});
	</script>

	<script>
		var swiper = new Swiper(".swiperDocuments", {
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		breakpoints: {
		320: {
			slidesPerView: 1,
			spaceBetween: 10,
			centeredSlides:true,
		},
		560: {
            slidesPerView: 3,
            spaceBetween: 10,
          },
		768: {
			slidesPerView: 4,
			spaceBetween: 20,
		},
		1024: {
			slidesPerView: 6,
			spaceBetween: 30,
		},
		},
		});
  	</script>
	<script>
		var closes = document.getElementById('header__topmenu');

		
		document.getElementById('header__nav-close').addEventListener("mouseover", function(){closes.style.display = "none", body.style.overflow = "visible";
		this.addEventListener("mouseout", function(){closes.style.display = "none", body.style.overflow = "visible";}); });

		document.getElementById('header__nav-pic').addEventListener("mouseover", function(){closes.style.display = "block", body.style.overflow = "hidden";
		this.addEventListener("mouseout", function(){closes.style.display = "block", body.style.overflow = "hidden";}); });



	</script>
</body>
</html>